<!DOCTYPE html>
<html>
<head>
    <title>Droneberry</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='droneberry.ico') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!--<link rel="shortcut icon" href="#" /> --!>
</head>
<body>     
	<div>
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="/about">About</a>
			<!--
	      		<a href="#Kirjaudu">Kirjaudu</a>
	      		<a href="#Rekisteröidy">Rekisteröidy</a>
			--!>
	    	</div>
		{% block content %}   
	    	<div style="padding-left:16px">
			<center>
	      			<h2>DroneBerry</h2>
				<h3>Kuljettaa paketin kuin paketin luoksesi</h3>
			</center>
	    	</div>
		
	    	<center>
		<!--	<form action="http://193.167.101.43:8080" method="POST" enctype="application/x-www-form-urlencoded">
		  		<p>
		    			<label for="a">Etunimi</label>
		    			<input id="a" type="text">
		  		</p>
		  		<p>
		    			<label for="b">Sukunimi</label>
		    			<input id="b" type="text">
		  		</p>
		   		<p>
		    			<label for="b">Osoite</label>
		    			<input id="b" type="text">
		  		</p> 
		  		<p>
				        <select id="selCountry">
						<option selected value="">Choose where to ship your product</option>
						<option value="ShippingA">Shipping for A</option>
						<option value="ShippingB">Shippinp for B</option>
						<option value="ShippingC">Shipping for C</option>
					</select>



		    			<label for="b">Postinumero</label>
		    			<input id="b" type="text"> 
		  		</p>
		  		<input type="submit" value="Subscribe!">
			</form>
	    	</center>
		<div class="alapalkki">
			<p>Tekijät: Petteri Karjalainen, Jokke Kivijärvi, Juhani Vuorenmaa ja Matti Polojärvi</p>
		</div>
		--!>
		<form method="POST" enctype=multipart/form-data>
			<input type=file name=file>
			<button class="submitti" type=submit style="vertical-align:middle"><span>Upload!</span></button>
			<!--<input class="submitti" type=submit value=Upload>--!>
		</form>
		
		<form action="http://193.167.101.43/script" method="POST">
			<input type="submit" value="Tilaa Kuljetus">
		</form>
		<form action="http://193.167.101.43/emergency" method="POST">
			<input type="submit" value="HÄTÄSEIS!">
		</form>
		{% endblock %}
		<footer class="footer">
			<p>Tekijät: Petteri Karjalainen, Jokke Kivijärvi, Juhani Vuorenmaa ja Matti Polojärvi</p>	
		</footer>
	</div>


</body>
</html> 
